#pragma once

#include "rclcpp/rclcpp.hpp"
#include "{{ msg_include }}"

class {{ node.name | capitalize }} : public rclcpp::Node
{
public:
    {{ node.name | capitalize }}();

{% if node.type == "publisher" %}
private:
    void publish_message();

    rclcpp::Publisher<{{ msg_type }}>::SharedPtr publisher_;
    rclcpp::TimerBase::SharedPtr timer_;
    double publish_rate_;
    size_t count_ = 0;
{% else %}
private:
    void callback(const {{ msg_type }}::SharedPtr msg);

    rclcpp::Subscription<{{ msg_type }}>::SharedPtr subscription_;
    std::string log_prefix_;
{% endif %}
};