<?xml version="1.0"?>
<package format="3">
  <name>{{ app.package_name }}</name>
  <version>{{ app.version }}</version>
  <description>{{ app.description }}</description>
  <maintainer email="{{ app.maintainer_email }}">{{ app.maintainer_name }}</maintainer>
  <license>{{ app.license }}</license>
  <buildtool_depend>ament_cmake</buildtool_depend>
{% if interfaces.enabled %}
  <buildtool_depend>rosidl_default_generators</buildtool_depend>
{% endif %}
{% for dep in dependencies if dep not in ['rosidl_default_generators'] %}
  <depend>{{ dep }}</depend>
{% endfor %}
{% if interfaces.enabled %}
  <member_of_group>rosidl_interface_packages</member_of_group>
{% endif %}
  <export><build_type>ament_cmake</build_type></export>
</package>
