cmake_minimum_required(VERSION 3.8)
project(generated_pkg)

if(NOT CMAKE_CXX_STANDARD)
  set(CMAKE_CXX_STANDARD 17)
endif()

find_package(ament_cmake REQUIRED)
{% for dep in deps %}
find_package({{ dep }} REQUIRED)
{% endfor %}

include_directories(include)

{% for node in nodes %}
add_executable({{ node.name }} src/{{ node.name }}.cpp)
ament_target_dependencies({{ node.name }}
{% for dep in deps %}
  {{ dep }}
{% endfor %}
)
{% endfor %}

install(TARGETS
{% for node in nodes %}
  {{ node.name }}
{% endfor %}
  DESTINATION lib/${PROJECT_NAME}
)

install(DIRECTORY include/
  DESTINATION include/
)

install(FILES package.xml
  DESTINATION share/${PROJECT_NAME}
)

ament_package()
