cmake_minimum_required(VERSION 3.8)
project(adas_interfaces)

find_package(ament_cmake REQUIRED)
find_package(rosidl_default_generators REQUIRED)

rosidl_generate_interfaces(${PROJECT_NAME}
{% for msg in msgs %}
  "msg/{{ msg }}.msg"
{% endfor %}
{% for srv in srvs %}
  "srv/{{ srv }}.srv"
{% endfor %}
)

ament_package()
