#include "rclcpp/rclcpp.hpp"
#include "{{ srv_include }}"
#include "{{ node.name }}.hpp"

using namespace std::chrono_literals;

{{ node.name | capitalize }}::{{ node.name | capitalize }}()
{% if node.namespace %}
    : Node("{{ node.name }}", "{{ node.namespace }}")
{% else %}
    : Node("{{ node.name }}")
{% endif %}
{
    client_ = this->create_client<{{ srv_type }}>("{{ node.service }}");
    timer_  = this->create_wall_timer(
        2000ms, std::bind(&{{ node.name | capitalize }}::send_request, this));
    RCLCPP_INFO(this->get_logger(), "Client ready, calling '%s' every 2 s.", "{{ node.service }}");
}

void {{ node.name | capitalize }}::send_request()
{
    if (!client_->wait_for_service(1s)) {
        RCLCPP_WARN(this->get_logger(), "Service not available, waiting...");
        return;
    }
    auto request = std::make_shared<{{ srv_type }}::Request>();
    //-- begin impl [fill_request] -------------------------------------------
    // populate request fields here
    //-- end impl [fill_request] ---------------------------------------------
    auto future  = client_->async_send_request(
        request,
        [this](rclcpp::Client<{{ srv_type }}>::SharedFuture f) {
            auto resp = f.get();
            RCLCPP_INFO(this->get_logger(), "Response: success=%s  message='%s'",
                resp->success ? "true" : "false", resp->message.c_str());
        });
}

int main(int argc, char * argv[])
{
    rclcpp::init(argc, argv);
    rclcpp::spin(std::make_shared<{{ node.name | capitalize }}>());
    rclcpp::shutdown();
    return 0;
}
